@font-face {
    font-family: Norican-Regular;
    src: url(../asset/font/Norican-Regular/Norican-Regular.ttf);
}
body {
	background-color: #f2f2f2;
	font-family: helveticha;
}
.form-top {
	margin-top: 20%;
}
.nor {
	font-family: Norican-Regular;
}
.active {
	background-color: #292929;
}
html {
  scroll-behavior: smooth;
}
.padd {
	padding: 2% 2% 2% 2%;
}
.search {
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}